body {
    width: 700px;
    background-color: #dbf6de;


}

#fi {
    width: 200px;
    height: 150px;
    margin-left: 90px;
}


#couch {
    width: 150px;
    height: 150px;
}

#stallman {
    width: 150px;
    height: 150px;
    margin-left: 100px;
}


.docScroll {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 100%;
    max-width: 100%;
    height: 350px;
    background-color: #cfcdce;
    border: solid 2px #e60a2f

}

.textoAdd {
    display: inline-block;
    vertical-align: middle;
    margin-right: auto;
    margin-left: 12px;
    min-width: 95%;
    max-width: 95%;
    box-sizing: border-box;
    border-radius: 10px;
}

.textoAdd:placeholder-shown {
    font-size: 15px;
}

.accionGUI {
    background-color: #a3e0f4;
    margin-bottom: 30px;
    margin-top: 20px;
    border: solid 2px #e60a2f;

}

#santi {
    margin-top: 40px;
    max-width: 50%;
}

#addTitle {
    color: #3c1540;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

#docTitle {
    color: #3c1540;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
    padding-top: 10px;
}

#botonAdd {
    background-color: #e5ef10;
    color: #0a0000;
    font-family: 'Lucida Sans Unicode';
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;


}

#botonAdd:hover {
    background-color: #bcf97b;
    color: #5553f7;
    font-weight: bold;
    cursor: pointer;
}
